articlemetaapi==1.26.7
certifi==2021.5.30
chardet==4.0.0
dateutils==0.6.12
greenlet==1.1.0
idna==2.10
legendarium==2.0.6
lxml==4.6.3
mysqlclient==2.0.3
ply==3.11
pymongo==3.11.4
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
reverse-geocode==1.4.1
Sickle==0.7.0
six==1.16.0
SQLAlchemy==1.4.19
thriftpy2==0.4.14
urllib3==1.26.6
xylose==1.35.4
